<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blog Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blog Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="intro-container">
    <strong>Ready to create a new blog post or view existing posts?</strong>
  </div>
  <!-- Container for the text-button sections -->
  <div id="container">
    <!-- Container for first text and button -->
    <div class="text-button-container">
      <p>Start by clicking the button below:</p>
      <ion-button routerLink="/blog-form">Create New Blog Post</ion-button>
    </div>

    <!-- Container for second text and button -->
    <div class="text-button-container">
      <p> view existing posts:</p>
      <ion-button routerLink="/blog-list">View Blog Posts</ion-button>
    </div>
  </div>
</ion-content>
